doctype html
html
  head
    title Kong OAuth 2.0 Sample
  body
    h1 Welcome to the OAuth 2.0 Hello World for Kong
    p This sample application has been created to demostrate the implementation required to support the three-legged OAuth 2.0 flow using Kong.
    ul
      li
        a(href="https://github.com/Mashape/kong-oauth2-hello-world/blob/master/README.md") Instructions
      li
        a(href="https://getkong.org/") Kong Homepage   